/* ott 이미지 */
.ottImage {
  width: 44px;
  height: 44px;
}

/* 대제목 */
.ottTitle {
  padding: 16px 16px 0;
  font-size: 18px;
}

/* ott 카드 */
.ottImageCard {
  background-color: var(--gray-050);
  border: 1px var(--bs-gray-200) solid;
  height: 75px;
  margin: 0;
}

.ottImageCard:hover {
  background-color: var(--primary-100);
}

.ottImageTitle { 
  font-size: 14px
}

/* ott 카드 클릭 */
.ottImageCardActive {
  background-color: var(--primary-100);
  border: 1px var(--bs-teal) solid;
  height: 75px;
  margin: 0;
}

.ottImageText {
  padding: 0;
}

.ottCol {
  padding: 10px;
  cursor: pointer;
}

/* ott 상세 정보 */
.ottInfo {
  flex-direction: row;
  max-width: 311px;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px;
  flex: none;
  display: flex;
  background-color: var(--gray-050);
}

.ottInfoTitle {
  font-size: 12px;
  font-weight: bold;
}

.ottInfoImage {
  width: 16px;
  height: 16px;
}

.ottInfoOriginPrice {
  font-size: 11px;
  margin: 0;
}

.ottInfoSalePrice {
  font-size: 11px;
  margin: 0;
}

.ottInfoButton {
  background-color: var(--primary-500);
  border-color: var(--primary-500);
  font-weight: bold;
  color: white;
  width: 100%;
}

.ottInfoButton:hover {
  background-color: var(--primary-600);
  border-color: var(--primary-600);
  color: white;
}

.ottChangeButton {
  font-size: 13px;
}