@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --oums-defualt-back-color: #f8f9fd;
  --oums-green-100: #eafff7;
  --oums-green-200: #53E3AC;
  --oums-green-600: #4DCA9A;
}

#root {
  font-family: "SpoqaHanSansNeo-Regular", serif;
  height: 100%;
  background-color: var(--oums-defualt-back-color)
}