.root {
  background-color: var(--primary-500);
  border-color: var(--primary-500);
  font-weight: bold;
  color: white;
}

.root:hover {
  background-color: var(--primary-600);
  border-color: var(--primary-600);
  color: white;
}